* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'microsoft yahei';
}
.dp-main-ele-primary {
	border: 2px solid #337ab7;
	border-radius: 4px;
	background-color: #fff;
	position: absolute;
}
.dp-main-ele-info {
	border: 2px solid #5bc0de;
	border-radius: 4px;
	background-color: #fff;
	position: absolute;
}
.dp-main-ele-warning {
	border: 2px solid #f0ad4e;
	border-radius: 4px;
	background-color: #fff;
	position: absolute;
}
.dp-main-ele-danger {
	border: 2px solid #d9534f;
	border-radius: 4px;
	background-color: #fff;
	position: absolute;
}
.dp-main-ele-success {
	border: 2px solid #5cb85c;
	border-radius: 4px;
	background-color: #fff;
	position: absolute;
}
.dp-titlediv-primary {
	text-align: center;
	padding: 7px 10px;
	color: #fff;
	background-color: #337ab7;
}
.dp-titlediv-info {
	text-align: center;
	padding: 7px 10px;
	color: #fff;
	background-color: #5bc0de;
}
.dp-titlediv-warning {
	text-align: center;
	padding: 7px 10px;
	color: #fff;
	background-color: #f0ad4e;
}
.dp-titlediv-danger {
	text-align: center;
	padding: 7px 10px;
	color: #fff;
	background-color: #d9534f;
}
.dp-titlediv-success {
	text-align: center;
	padding: 7px 10px;
	color: #fff;
	background-color: #5cb85c;
}
.dp-selectdiv {
	display: inline-block;
}
.dp-select-year,
.dp-select-month,
.dp-select-date {
	width: 70px;
	height: 23px;
	font-size: 15px;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
	line-height: 23px;
}
.dp-select-strong {
	margin: 0 5px;
	font-weight: bold;
}
.dp-select-week {
	width: 50px;
	height: 23px;
	font-size: 15px;
	color: #555;
	border: 1px solid #ccc;
	border-radius: 4px;
	text-align: center;
	line-height: 23px;
}
.dp-btn-left {
	float: left;
	cursor: pointer;
}
.dp-btn-right {
	float: right;
	cursor: pointer;
}
.dp-date-ele {
	display: inline-block;
	text-align: center;
	border-radius: 50%;
}
.dp-week-style-primary {
	color: #337ab7;
}
.dp-week-style-info {
	color: #5bc0de;
}
.dp-week-style-success {
	color: #5cb85c;
}
.dp-week-style-warning {
	color: #f0ad4e;
}
.dp-week-style-danger {
	color: #d9534f;
}
.dp-other-month {
	color: lightgray;
}
.dp-active-primary {
	background-color: #337ab7;
	color: #fff;
}
.dp-active-info {
	background-color: #5bc0de;
	color: #fff;
}
.dp-active-success {
	background-color: #5cb85c;
	color: #fff;
}
.dp-active-warning {
	background-color: #f0ad4e;
	color: #fff;
}
.dp-active-danger {
	background-color: #d9534f;
	color: #fff;
}